/*Cambio del fondo del menú*/
nav.bg-body-tertiary {
    background-color:#a0937d !important;
}
/*Poner la letra del menú blanca*/
.nav-item a{
    color: white;
    font-style: bolder;
    font-size: 20px;
    text-decoration: none;
}
/*Poner la letra más oscura en el menú cuando pasa el ratón por encima*/
.nav-item a:hover{
    color: #f6e6cb;
}
/*Títulos de los apartados*/
.linea{
    border-bottom: 2px solid #000000;
}
/*margen entre elementos*/
.row{
    margin:  5%;
}
/*margen entre el título y el contenido*/
.borde h4{
    margin-bottom: 10%;
}
/*En el formulario margen*/
label,input{
    margin-bottom: 3%;
}
/*En el formulario margen entre botones*/
.boton{
    margin-bottom: 3%;
}

/**/
.icono{
    width: 80px;
    margin-left: 50px;
}
/*Iconos más grandes*/
div.col i.icono{
    font-size: 35px;
    padding-right: 30px;
}
/*Cambiar estilos de las columnas del título 1 poniendolas encuadradas*/
.introduccion{
    background-color:#e7d4b5 ;
}
.mision{
    background-color: #f6e6cb;
}
.oferta{
    background-color: #e3cdc1;
}
div.borde div.filacademia{
    display: flex;
    align-items: stretch !important;
}
div.filacademia div.col{
    padding: 3%;
    margin-left: 5%;
}
/*Fondo de color de toda la página
section {
    background-color:white;
}*/
/*Cambiar estilos de las columnas del título 2 poniendole encuadrdas*/
div.borde div.formativa{
    display: flex;
    align-items: stretch !important;
}
div.formativa div.col{
    padding: 1%;
    margin-left: 3%;
}
.desarrollo{
    background-color:#e7d4b5 ;
    ;

}
.digital{
    background-color:#e7d4b5 ;


}   
.ciberseguridad{
    background-color:#e7d4b5 ;


}
.datos{
    background-color:#e7d4b5 ;

}
/*Cambiar estilos de las columnas del título 3*/
div.borde div.conocenos{
    display: flex;
    align-items: stretch !important;
}
div.conocenos div.col{
    padding: 5%;
    margin: 3%;
}
.instalaciones{
    background-color: #f6e6cb;

}
.puertas{
    background-color: #f6e6cb;

}
.finstalaciones{
    margin-bottom: 5%;
    border-radius: 5%;
}
.fpuertas{
    margin-bottom: 20%;
    border-radius: 5%;
}
/*Cambiar estilos de las columnas del título 4*/
div.borde div.docentes{
    display: flex;
    align-items: stretch !important;
}
div.docentes div.col{
    padding: 5%;
    margin: 3%;
}
.elena{
    background-color: #e3cdc1;

}
.marta{
    background-color: #e3cdc1;

}
.felena{
    margin-top: 5%;
    border-radius: 5%;
}
.fmarta{
    margin-top: 5%;
    border-radius: 5%;
}
/*Fondo del formulario*/
form{
    background-color:#e4d3b5; 
    font-size: 25px;

}
form input,textarea{
    border: 2px solid black;
    border-radius: 5%;
    
}
/*Cambio del fondo del footer*/
footer{
    background-color:#a0937d; 
    padding-top: 50px;
}
div.col h5{
    padding-top: 50px;
    color: black;
}

/*Icono flotante para volver hacia arriba*/
.flotante {
    display:scroll;
        position:fixed;
        bottom:100px;
        right:0px;
        border: 2px solid black;
        border-radius: 50%;
        font-size: 40px;
        padding: 0px 15px ;
}
.flotante i{
    color: black;
}
/*Media queries*/
.col-sm{
    width: 25%;
}
/*modificación contenido de la página novedades*/
.inteligencia, .aplicaciones, .redes, .proyectos, .ciber{
    width: 90%;
    text-align: center;
    margin: 50px;
}
.inteligencia img{
    width: 500px;
    border-radius: 5%;
}
.aplicaciones img{
    width: 500px;
    border-radius: 5%;

}
.redes img{
    width: 500px;
    border-radius: 5%;

}
.proyectos img{
    width: 400px;
    border-radius: 5%;

}
.ciber img{
    width: 400px;
    border-radius: 5%;

}
.fin{
    width: 90%;
    text-align: center;
    margin: 50px;
}
@media(max-width:700px){
    .flotante{
        display: none;
    }
}
/*Footer*/
html {
    height: 100%;
  }
    body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
    footer {
    margin-top: auto;
  }



  form{
    padding: 20px 0px;
  }