/*Cambio del fondo del menú*/
nav.bg-body-tertiary {
    background-color:#d4a55f !important;
}
/*Poner la letra del menú blanca*/
.nav-item a{
    color: white;
    font-style: bolder;
    font-size: 20px;
}
/*Poner la letra más oscura en el menú cuando pasa el ratón por encima*/
.nav-item a:hover{
    color: rgb(237, 214, 151);
}
/*Títulos de los apartados*/
.linea{
    border-bottom: 2px solid #000000;
}
/*margen entre elementos*/
.row{
    margin:  5%;
}
/*margen entre el título y el contenido*/
.borde h4{
    margin-bottom: 10%;
}
/*En el formulario margen*/
label,input{
    margin-bottom: 3%;
}
/*En el formulario margen entre botones*/
.boton{
    margin-bottom: 3%;
}

/**/
.icono{
    width: 80px;
    margin-left: 50px;
}
/*Iconos más grandes*/
div.col i.icono{
    font-size: 35px;
    padding-right: 30px;
}
/*Cambiar estilos de las columnas del título 1 poniendolas encuadradas*/
.introduccion{
    background-color: rgb(238, 212, 179) ;
}
.mision{
    background-color: rgb(177, 136, 82);
}
.oferta{
    background-color: rgb(197, 140, 86);
}
div.borde div.filacademia{
    display: flex;
    align-items: stretch !important;
}
div.filacademia div.col{
    padding: 3%;
    margin-left: 5%;
}
/*Fondo de color de toda la página*/
section {
    background-color:white;
}
/*Cambiar estilos de las columnas del título 2 poniendole encuadrdas*/
div.borde div.formativa{
    display: flex;
    align-items: stretch !important;
}
div.formativa div.col{
    padding: 1%;
    margin-left: 3%;
}
.desarrollo{
    background-color: rgb(238, 212, 179);

}
.digital{
    background-color: rgb(177, 136, 82);

}   
.ciberseguridad{
    background-color: rgb(197, 140, 86);

}
.datos{
    background-color: rgb(177, 136, 82);
}
/*Cambiar estilos de las columnas del título 3*/
div.borde div.conocenos{
    display: flex;
    align-items: stretch !important;
}
div.conocenos div.col{
    padding: 5%;
    margin: 3%;
}
.instalaciones{
    background-color: rgb(197, 140, 86);
}
.puertas{
    background-color: rgb(238, 212, 179);
}
.finstalaciones{
    margin-bottom: 5%;
}
.fpuertas{
    margin-bottom: 20%;
}
/*Cambiar estilos de las columnas del título 4*/
div.borde div.docentes{
    display: flex;
    align-items: stretch !important;
}
div.docentes div.col{
    padding: 5%;
    margin: 3%;
}
.elena{
    background-color: rgb(177, 136, 82);
}
.marta{
    background-color: rgb(197, 140, 86);
}
.felena{
    margin-top: 5%;
}
.fmarta{
    margin-top: 5%;
}
/*Fondo del formulario*/
form{
    background-color: #e64e4e;
    font-size: 25px;

}
form input,textarea{
    border: 2px solid black;
    border-radius: 5%;
    
}
/*Cambio del fondo del footer*/
footer{
    background-color: rgb(216, 212, 212);
}
div.col h5{
    padding-top: 50px;
    color: #e64e4e;
}


.flotante {
    display:scroll;
        position:fixed;
        bottom:100px;
        right:0px;
        border: 2px solid black;
        border-radius: 50%;
        font-size: 40px;
        padding: 0px 15px ;
}
.flotante i{
    color: black;
}